In [56]:
import pandas as pd
import seaborn as sns

In [57]:
#import csv file 
ha_costs_df = pd.read_csv('../data/mmd_heart_attack_data.csv')

In [58]:
#check first five rows
ha_costs_df.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [59]:
#check last 5 rows
ha_costs_df.tail(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [60]:
#get information about spreadsheet/file/dataframe
ha_costs_df.info

<bound method DataFrame.info of       year geography             measure         adjustment      analysis  \
0     2017    County  Average total cost  Unsmoothed actual  Base measure
1     2017    County  Average total cost  Unsmoothed actual  Base measure
2     2017    County  Average total cost  Unsmoothed actual  Base measure
3     2017    County  Average total cost  Unsmoothed actual  Base measure
4     2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2651  2017    County  Average total cost  Unsmoothed actual  Base measure
2652  2017    County  Average total cost  Unsmoothed actual  Base measure
2653  2017    County  Average total cost  Unsmoothed actual  Base measure
2654  2017    County  Average total cost  Unsmoothed actual  Base measure
2655  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
0     Primary chronic conditions  Acute myocardial infarction         All
1     Primary chronic conditions  Acute myocardial infarction         All
2     Primary chronic conditions  Acute myocardial infarction         All
3     Primary chronic conditions  Acute myocardial infarction         All
4     Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2651  Primary chronic conditions  Acute myocardial infarction         All
2652  Primary chronic conditions  Acute myocardial infarction         All
2653  Primary chronic conditions  Acute myocardial infarction         All
2654  Primary chronic conditions  Acute myocardial infarction         All
2655  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips                   county  \
0            All  Dual & non-dual   1001           Autauga County
1            All  Dual & non-dual   1003           Baldwin County
2            All  Dual & non-dual   1005           Barbour County
3            All  Dual & non-dual   1007              Bibb County
4            All  Dual & non-dual   1009            Blount County
...          ...              ...    ...                      ...
2651         All  Dual & non-dual  72097       Mayaguez Municipio
2652         All  Dual & non-dual  72113          Ponce Municipio
2653         All  Dual & non-dual  72125     San German Municipio
2654         All  Dual & non-dual  72127       San Juan Municipio
2655         All  Dual & non-dual  72139  Trujillo Alto Municipio

            state  urban primary_race primary_denominator  analysis_value
0         ALABAMA  Urban          All           undefined           40470
1         ALABAMA  Rural          All           undefined           36615
2         ALABAMA  Rural          All           undefined           46509
3         ALABAMA  Urban          All           undefined           42949
4         ALABAMA  Urban          All           undefined           50067
...           ...    ...          ...                 ...             ...
2651  PUERTO RICO  Urban          All           undefined           28128
2652  PUERTO RICO  Urban          All           undefined           26403
2653  PUERTO RICO  Urban          All           undefined           26398
2654  PUERTO RICO  Urban          All           undefined           36599
2655  PUERTO RICO  Urban          All           undefined           26676

[2656 rows x 17 columns]>

In [61]:
#get rows and columns of dataframe
ha_costs_df.shape

(2656, 17)

In [62]:
#get information of dataframe
ha_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 2656 non-null   int64
 1   geography            2656 non-null   object
 2   measure              2656 non-null   object
 3   adjustment           2656 non-null   object
 4   analysis             2656 non-null   object
 5   domain               2656 non-null   object
 6   condition            2656 non-null   object
 7   primary_sex          2656 non-null   object
 8   primary_age          2656 non-null   object
 9   primary_dual         2656 non-null   object
 10  fips                 2656 non-null   int64
 11  county               2656 non-null   object
 12  state                2656 non-null   object
 13  urban                2656 non-null   object
 14  primary_race         2656 non-null   object
 15  primary_denominator  2656 non-null   object
 16  analysis_value       2656 non-null   int64
dtypes: int64(3), object(14)
memory usage: 352.9+ KB

In [63]:
#select data for only Tennessee
ha_costs_df[ha_costs_df['state'] == 'TENNESSEE']

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2030,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,42749
2031,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,43661
2032,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,44423
2033,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,41240
2034,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,38968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2116,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47181,Wayne County,TENNESSEE,Rural,All,undefined,40652
2117,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47183,Weakley County,TENNESSEE,Rural,All,undefined,55139
2118,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47185,White County,TENNESSEE,Rural,All,undefined,40717
2119,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47187,Williamson County,TENNESSEE,Urban,All,undefined,61541
2120,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47189,Wilson County,TENNESSEE,Urban,All,undefined,52387

In [64]:
#check if state is Tennesse or not
ha_costs_df['state'] == 'TENNESSEE'

0       False
1       False
2       False
3       False
4       False
        ...
2651    False
2652    False
2653    False
2654    False
2655    False
Name: state, Length: 2656, dtype: bool

In [65]:
#make a new object which only includes TN-data
TN = ha_costs_df.loc[ha_costs_df['state'] == 'TENNESSEE']

In [66]:
#find rows and columns of this new object 
TN.shape

(91, 17)

In [67]:
#get information about object 
TN.info

<bound method DataFrame.info of       year geography             measure         adjustment      analysis  \
2030  2017    County  Average total cost  Unsmoothed actual  Base measure
2031  2017    County  Average total cost  Unsmoothed actual  Base measure
2032  2017    County  Average total cost  Unsmoothed actual  Base measure
2033  2017    County  Average total cost  Unsmoothed actual  Base measure
2034  2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2116  2017    County  Average total cost  Unsmoothed actual  Base measure
2117  2017    County  Average total cost  Unsmoothed actual  Base measure
2118  2017    County  Average total cost  Unsmoothed actual  Base measure
2119  2017    County  Average total cost  Unsmoothed actual  Base measure
2120  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
2030  Primary chronic conditions  Acute myocardial infarction         All
2031  Primary chronic conditions  Acute myocardial infarction         All
2032  Primary chronic conditions  Acute myocardial infarction         All
2033  Primary chronic conditions  Acute myocardial infarction         All
2034  Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2116  Primary chronic conditions  Acute myocardial infarction         All
2117  Primary chronic conditions  Acute myocardial infarction         All
2118  Primary chronic conditions  Acute myocardial infarction         All
2119  Primary chronic conditions  Acute myocardial infarction         All
2120  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips             county      state  urban  \
2030         All  Dual & non-dual  47001    Anderson County  TENNESSEE  Urban
2031         All  Dual & non-dual  47003     Bedford County  TENNESSEE  Rural
2032         All  Dual & non-dual  47005      Benton County  TENNESSEE  Rural
2033         All  Dual & non-dual  47007     Bledsoe County  TENNESSEE  Rural
2034         All  Dual & non-dual  47009      Blount County  TENNESSEE  Urban
...          ...              ...    ...                ...        ...    ...
2116         All  Dual & non-dual  47181       Wayne County  TENNESSEE  Rural
2117         All  Dual & non-dual  47183     Weakley County  TENNESSEE  Rural
2118         All  Dual & non-dual  47185       White County  TENNESSEE  Rural
2119         All  Dual & non-dual  47187  Williamson County  TENNESSEE  Urban
2120         All  Dual & non-dual  47189      Wilson County  TENNESSEE  Urban

     primary_race primary_denominator  analysis_value
2030          All           undefined           42749
2031          All           undefined           43661
2032          All           undefined           44423
2033          All           undefined           41240
2034          All           undefined           38968
...           ...                 ...             ...
2116          All           undefined           40652
2117          All           undefined           55139
2118          All           undefined           40717
2119          All           undefined           61541
2120          All           undefined           52387

[91 rows x 17 columns]>

In [68]:
#first 5 rows of TN
TN.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2030,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,42749
2031,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,43661
2032,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,44423
2033,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,41240
2034,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,38968

In [69]:
#get number of entries for each category
TN.count()

year                   91
geography              91
measure                91
adjustment             91
analysis               91
domain                 91
condition              91
primary_sex            91
primary_age            91
primary_dual           91
fips                   91
county                 91
state                  91
urban                  91
primary_race           91
primary_denominator    91
analysis_value         91
dtype: int64

In [70]:
#get count of columns equal to urban
TN[TN['urban']== 'Urban'].count()

year                   38
geography              38
measure                38
adjustment             38
analysis               38
domain                 38
condition              38
primary_sex            38
primary_age            38
primary_dual           38
fips                   38
county                 38
state                  38
urban                  38
primary_race           38
primary_denominator    38
analysis_value         38
dtype: int64

In [71]:
#get count of counties equal to rural
TN[TN['urban']== 'Rural'].count()

year                   53
geography              53
measure                53
adjustment             53
analysis               53
domain                 53
condition              53
primary_sex            53
primary_age            53
primary_dual           53
fips                   53
county                 53
state                  53
urban                  53
primary_race           53
primary_denominator    53
analysis_value         53
dtype: int64

In [72]:
#new dataframe: open csv file 
cancer_costs_df = pd.read_csv('../data/mmd_cancer_data.csv')

In [73]:
#check first 5 rows
cancer_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

In [74]:
#last 5 rows
cancer_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

In [75]:
#select for rows with TN data
cancer_costs_df[cancer_costs_df['state'] == 'TENNESSEE']

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2396,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,15454
2397,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,19219
2398,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,21315
2399,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,19250
2400,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,17073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47181,Wayne County,TENNESSEE,Rural,All,undefined,22658
2487,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47183,Weakley County,TENNESSEE,Rural,All,undefined,20655
2488,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47185,White County,TENNESSEE,Rural,All,undefined,18515
2489,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47187,Williamson County,TENNESSEE,Urban,All,undefined,17527
2490,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47189,Wilson County,TENNESSEE,Urban,All,undefined,20618

In [76]:
#new object is TN2 from cancer file
TN2 = cancer_costs_df[cancer_costs_df['state'] == 'TENNESSEE']

In [77]:
#get information from TN2
TN2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95 entries, 2396 to 2490
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 95 non-null     int64
 1   geography            95 non-null     object
 2   measure              95 non-null     object
 3   adjustment           95 non-null     object
 4   analysis             95 non-null     object
 5   domain               95 non-null     object
 6   condition            95 non-null     object
 7   primary_sex          95 non-null     object
 8   primary_age          95 non-null     object
 9   primary_dual         95 non-null     object
 10  fips                 95 non-null     int64
 11  county               95 non-null     object
 12  state                95 non-null     object
 13  urban                95 non-null     object
 14  primary_race         95 non-null     object
 15  primary_denominator  95 non-null     object
 16  analysis_value       95 non-null     int64
dtypes: int64(3), object(14)
memory usage: 13.4+ KB

In [78]:
#new file--open csv file
income_df = pd.read_csv('../data/irs_county_2016.csv')

In [79]:
#check first 5 rows
income_df.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205

In [80]:
#check last 5 rows
income_df.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
25531,56,WY,45,Weston County,4,610,310,210,70,380,...,540,1559,0,0,0,0,100,188,490,1377
25532,56,WY,45,Weston County,5,460,150,270,40,300,...,440,2548,0,0,0,0,90,249,360,1111
25533,56,WY,45,Weston County,6,460,90,330,40,310,...,450,4072,0,0,0,0,100,333,340,1251
25534,56,WY,45,Weston County,7,460,40,420,0,320,...,460,7958,0,0,0,0,180,907,260,1045
25535,56,WY,45,Weston County,8,90,0,80,0,80,...,90,7195,0,0,50,146,50,2257,30,377

In [81]:
#rows and columns of object
income_df.shape

(25536, 148)

In [82]:
#get information 
income_df.info

<bound method DataFrame.info of        STATEFIPS STATE  COUNTYFIPS     COUNTYNAME  agi_stub      N1   mars1  \
0              1    AL           0        Alabama         1   26450   14680
1              1    AL           0        Alabama         2  285760  217880
2              1    AL           0        Alabama         3  529780  259680
3              1    AL           0        Alabama         4  495750  211100
4              1    AL           0        Alabama         5  263130   82330
...          ...   ...         ...            ...       ...     ...     ...
25531         56    WY          45  Weston County         4     610     310
25532         56    WY          45  Weston County         5     460     150
25533         56    WY          45  Weston County         6     460      90
25534         56    WY          45  Weston County         7     460      40
25535         56    WY          45  Weston County         8      90       0

        MARS2   MARS4    PREP  ...  N10300   A10300  N85530  A85530  N85300  \
0        9740     680   17780  ...    4300     9256      70      57       0
1       25170   39740  143390  ...   70050    40569       0       0       0
2       80320  181410  297440  ...  297770   290358       0       0       0
3      141800  127420  272030  ...  397940   983800      40      22       0
4      137610   35760  154540  ...  252940  1346083      20      27       0
...       ...     ...     ...  ...     ...      ...     ...     ...     ...
25531     210      70     380  ...     540     1559       0       0       0
25532     270      40     300  ...     440     2548       0       0       0
25533     330      40     310  ...     450     4072       0       0       0
25534     420       0     320  ...     460     7958       0       0       0
25535      80       0      80  ...      90     7195       0       0      50

       A85300  N11901  A11901  N11902   A11902
0           0    2590    3685   11510    35079
1           0   22720   11109  237630   263152
2           0   41330   40647  474140  1569463
3           0   73880  110840  415850  1173195
4           0   63240  140446  194790   542205
...       ...     ...     ...     ...      ...
25531       0     100     188     490     1377
25532       0      90     249     360     1111
25533       0     100     333     340     1251
25534       0     180     907     260     1045
25535     146      50    2257      30      377

[25536 rows x 148 columns]>

In [83]:
#select for these columns
income_df_columns = income_df[['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

In [84]:
#rename columns to this order/style
income_df_columns.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

In [85]:
#get information about file/object
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25536 entries, 0 to 25535
Columns: 148 entries, STATEFIPS to A11902
dtypes: int64(146), object(2)
memory usage: 28.8+ MB

In [86]:
#rows and columns
income_df_columns.shape

(25536, 15)

In [87]:
#get information about object with renamed columns 
income_df_columns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25536 entries, 0 to 25535
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      25536 non-null  object
 1   county                     25536 non-null  object
 2   income_bucket              25536 non-null  int64
 3   return_count               25536 non-null  int64
 4   single_returns             25536 non-null  int64
 5   joint_returns              25536 non-null  int64
 6   head_of_house_returns      25536 non-null  int64
 7   exemptions                 25536 non-null  int64
 8   dependents                 25536 non-null  int64
 9   elderly                    25536 non-null  int64
 10  agi                        25536 non-null  int64
 11  returns_with_total_inc     25536 non-null  int64
 12  total_inc_amt              25536 non-null  int64
 13  returns_with_unemployment  25536 non-null  int64
 14  unemployment_comp          25536 non-null  int64
dtypes: int64(13), object(2)
memory usage: 2.9+ MB

In [88]:
#create TN_out which merges dataframe 
TN_out = TN.merge(TN2, how = 'outer', indicator = False)

In [89]:
#look at dataframe
TN_out

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,42749
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,43661
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,44423
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,41240
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,38968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47181,Wayne County,TENNESSEE,Rural,All,undefined,22658
182,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47183,Weakley County,TENNESSEE,Rural,All,undefined,20655
183,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47185,White County,TENNESSEE,Rural,All,undefined,18515
184,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47187,Williamson County,TENNESSEE,Urban,All,undefined,17527
185,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47189,Wilson County,TENNESSEE,Urban,All,undefined,20618

In [90]:
#want only these columns
TN_out_column = TN_out[['condition', 'fips', 'county', 'state', 'urban']]

In [91]:
#get info
TN_out_column = TN_out_column.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 185
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   condition  186 non-null    object
 1   fips       186 non-null    int64
 2   county     186 non-null    object
 3   state      186 non-null    object
 4   urban      186 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.7+ KB

In [92]:
#check dataframe
TN_out

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,42749
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,43661
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,44423
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,41240
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,38968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47181,Wayne County,TENNESSEE,Rural,All,undefined,22658
182,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47183,Weakley County,TENNESSEE,Rural,All,undefined,20655
183,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47185,White County,TENNESSEE,Rural,All,undefined,18515
184,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47187,Williamson County,TENNESSEE,Urban,All,undefined,17527
185,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,47189,Wilson County,TENNESSEE,Urban,All,undefined,20618

In [93]:
#look at first 5 rows
income_df_columns.head()

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
0,AL,Alabama,1,26450,14680,9740,680,40700,5590,13000,-1679314,19140,-1657452,60,203
1,AL,Alabama,2,285760,217880,25170,39740,296830,78450,48270,1582247,285760,1632624,4180,10772
2,AL,Alabama,3,529780,259680,80320,181410,1000100,413070,102390,9029279,529780,9158151,18220,52886
3,AL,Alabama,4,495750,211100,141800,127420,996020,360090,109080,17834120,495750,18016190,14020,41072
4,AL,Alabama,5,263130,82330,137610,35760,583110,182490,74930,16163220,263130,16321828,7290,23990

In [94]:
#how many unique values are there for income buckets? 
income_df_columns.income_bucket.nunique()

8

In [95]:
TN.groupby(['urban']).mean()

         year          fips  analysis_value
urban
Rural  2017.0  47086.320755    45773.075472
Urban  2017.0  47103.789474    45748.921053

In [96]:


income_dict = {0:'Total', 1: 'Under $1', 2: 'Between 1 and $10,000', 3: 'Between 10,000 and $25,000', 4:'Between 25,000 and $50,000', 5:'Between 50,000 and $75,000', 6: 'Between 75,000 and $100,000', 7: 'Between 100,000 and $200,000', 8: '$200,000 or more'}

In [99]:
income_df_columns.income_bucket = income_df_columns.income_bucket.replace(income_dict)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [100]:
income_df_columns.head(5)

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
0,AL,Alabama,Under $1,26450,14680,9740,680,40700,5590,13000,-1679314,19140,-1657452,60,203
1,AL,Alabama,"Between 1 and $10,000",285760,217880,25170,39740,296830,78450,48270,1582247,285760,1632624,4180,10772
2,AL,Alabama,"Between 10,000 and $25,000",529780,259680,80320,181410,1000100,413070,102390,9029279,529780,9158151,18220,52886
3,AL,Alabama,"Between 25,000 and $50,000",495750,211100,141800,127420,996020,360090,109080,17834120,495750,18016190,14020,41072
4,AL,Alabama,"Between 50,000 and $75,000",263130,82330,137610,35760,583110,182490,74930,16163220,263130,16321828,7290,23990

In [103]:
income_county_agg = income_df_columns.groupby(by=['county']).sum().reset_index()

In [104]:
income_county_agg.head(10)

,county,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
0,Abbeville County,9620,3480,3650,2260,19730,6980,2480,411082,9580,416060,420,676
1,Acadia Parish,24340,9390,9450,5200,52710,20270,4970,1127591,24250,1147323,860,3109
2,Accomack County,15940,7020,5420,3120,30420,9780,4870,705006,15890,715259,420,1255
3,Ada County,207610,96130,89990,19370,414470,129340,50170,14763616,206870,15019526,7460,27477
4,Adair County,27820,11770,11860,3820,56650,18750,7120,1118205,27740,1137503,1220,4168
5,Adams County,389660,180490,146970,54970,784630,271720,83730,21164519,388640,21463367,15510,68179
6,Addison County,18950,9690,7540,1390,33060,8010,5950,1093014,18880,1119322,880,3206
7,Aiken County,72840,29990,28390,12580,143520,46300,20280,4064168,72610,4110450,1690,5101
8,Aitkin County,7250,3220,3340,590,13310,3140,3010,356744,7230,362296,540,3374
9,Alabama,2043540,840410,758740,403420,4106560,1422860,488180,113353444,2036230,114870021,52880,161343

In [105]:
income_county_agg_county_only = income_county_agg.loc[income_county_agg['county'] != 'Tennessee']

In [106]:
income_county_agg.shape

(1926, 13)

In [107]:
income_county_agg_county_only.loc[income_county_agg_county_only['return_count'].idxmax()]

county                       California
return_count                   17816120
single_returns                  8729140
joint_returns                   6292060
head_of_house_returns           2536910
exemptions                     35856000
dependents                     12634160
elderly                         3838870
agi                          1413863333
returns_with_total_inc         17753650
total_inc_amt                1435897583
returns_with_unemployment       1065900
unemployment_comp               5037998
Name: 253, dtype: object

In [108]:
print(income_county_agg.shape)

(1926, 13)

In [109]:
income_county_agg_county_only.loc[income_county_agg_county_only['agi'].idxmax()]

county                       California
return_count                   17816120
single_returns                  8729140
joint_returns                   6292060
head_of_house_returns           2536910
exemptions                     35856000
dependents                     12634160
elderly                         3838870
agi                          1413863333
returns_with_total_inc         17753650
total_inc_amt                1435897583
returns_with_unemployment       1065900
unemployment_comp               5037998
Name: 253, dtype: object

In [111]:
my_animals = ['monkey', 'tiger', 'lion', 'turtle']

In [122]:
t_animals = []
for animal in my_animals: 
    if animal.startswith('t'):
t_animals.append(animal) 
print(t_animals)

IndentationError: expected an indented block (<ipython-input-122-2a7651aae250>, line 4)

In [123]:
%who

TN	 TN2	 TN_out	 TN_out_column	 cancer_costs_df	 ha_costs_df	 income_county_agg	 income_county_agg_county_only	 income_df
income_df_columns	 income_dict	 my_animals	 pd	 sns	 t_animals